body {
    font-family: Arial;

    background-color: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {

    background-color: white;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    width: 300px;

    text-align: center;
}

input {

    width: 100%;

    padding: 10px;

    margin-bottom: 10px;

    font-size: 16px;
}

button {

    padding: 10px 20px;

    cursor: pointer;
}

#resultado {

    margin-top: 20px;

    font-weight: bold;

    font-size: 18px;
}